@import url(http://fonts.googleapis.com/css?family=Pirata+One);
h2 {
  margin: 0 0 60px;
  padding-top: 72px;
  font-family: 'pirata one', serif;
  font-size: 86px;
  line-height: 98px;
        font-weight: normal;
        text-transform: none;
        color: black;
}

p {
        margin: 0 0 24px;
  font-family: "gentium book basic", 'Georgia', serif;
  font-size: 26px;
  line-height: 42px;
  color: #aaa;
}
